@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active-link {
  color: #48DD3B; /* Change la couleur active */
  font-weight: bold; /* Facultatif pour mettre l'accent sur le lien actif */
}

.vert {
  color :#48DD3B

}


.neon-text-matrix {
  color: #fff;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(0, 255, 0, 0.5),
    0 0 20px rgba(0, 255, 0, 0.5);
}

.neon-text-text {
  color: #fff;
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.5),
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.padd {
  /* padding-right: 25rem; */
  border-color: #48DD3B;
  border-radius: 50px;
  border-width: 2px;
  background-color: #000000;
}

.neon-image {
  filter: drop-shadow(0 0 10px #0f0);
}

.paddd {
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: black;
    border-width: 2px;
    border-color: #48dd3b;
    border-radius: 50px;
}